.footer {
    /* background-color: #c5375a; */
    background-color: #ff6e54;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    text-align: center;
}

p {
    color: white;
}

hr {
    position: relative;
    border: none;
    height: 2px;
    width: 80%;
    background: rgb(255, 255, 255, 0.2);
}