.showOrdersHeading {
    color: #616161;
    text-transform: capitalize;
    font-size: 28px;
    margin: 15px 0 15px 0px;
    font-weight: 750;
}

.showOrdersMargin {
    margin: 0 90px 10px 90px;
}

@media only screen and (max-width:768px) {
    .showOrdersHeading {
        font-size: 21px;
    }
    .showOrdersMargin {
        margin: 0px 16px;
    }
}